// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$color: #448AC9;

.task_items {
  display: flex;
  align-items: center;

  input[type='text'] {
    background: transparent;
    font-size: .8em;
    width: 100%;
    padding: .05em .2em;
    border: 0;
    outline: none;
    // border-bottom: 2px gray solid;
    margin: .2em;
  }

  input[type='button'] {
    height: 4em;
    width: 6em;
    border: 0;
    text-decoration: none;
    margin: 0 .5em;
  }
}

#task_completed {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.delete-done-icon {
    display: flex;
    flex-direction: column;
}
